<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
    <script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <script src="https://kit.fontawesome.com/320d6fe4a2.js" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,500&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;1,500&display=swap');
    </style>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/cat_style.css">

    <title>Dashboard</title>
</head>
<body>
    <!-- HEADER -->
    <header>

        <div class="overlay">
            <button class="button button2" style="float: right;"><span>Logout</span></button>
            <h1>Welcome to DigiPetsGo!</h1>
            <h2>A fantastic world of virtual buddies</h2>
            <br>
        </div>
    </header>

    <div class="cat-background">
        <div class="cat-container-running">
            <div class="sprite-cat-vertical">
                <div class="heart-icon"></div>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-color--purple-100 mdl-color-text--white">
                    <h2 class="mdl-card__title-text"><b>Your profile</b></h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <h5><i class="fa-regular fa-user"></i> <%= username %> </h5>
                    <h5><i class="fa-regular fa-envelope"></i> <%= email %> </h5>
                    <p style="text-align: center;">
                        <button class="button button1" style="vertical-align:middle"><span>Edit profile</span></button>
                        <button class="button button1" style="vertical-align:middle"><span>Delete profile</span></button>
                    </p>
                </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-color--red-100 mdl-color-text--white">
                <h2 class="mdl-card__title-text"><b>Create and Send your Digipets!</b></h2>
            </div>
            <div class="mdl-card__supporting-text">
                <h1>    </h1>
                <p style="text-align: center;">
                    <button class="button button3" onclick="location.href='/newdigipet/<%= username %>'"  style="vertical-align:middle"><span>Create DigiPet</span></button>
                    <button class="button button3" onclick="location.href='/senddigipet/<%= username %>'" style="vertical-align:middle"><span>Send DigiPet</span></button>
                    <br>
                    <button id='transfer' class="button button3" onclick="location.href='/transferdigipet/<%= username %>'" style="vertical-align:middle"><span>Transfter DigiPet</span></button>
                    <script>
                        const transferBtn = document.getElementById("transfer");
                        console.log(transferBtn.style.display);
                        transferBtn.style.display = 'none';
                        const user = '<%= username %>';
                        console.log(user);
                        if (user !== "mzzmara") {
                            transferBtn.style.display = "none";
                        } else {
                            transferBtn.style.display = "";
                        }
                    </script>
                </p>
            </div>
        </div>

        <div class="mdl-cell mdl-cell--4-col mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-color--deep-orange-100 mdl-color-text--white">
                <h2 class="mdl-card__title-text"><b>Register and bid your DigiPets!</b></h2>
            </div>
            <div class="mdl-card__supporting-text">
                <h1>    </h1>
                <p style="text-align: center;">
                    <button class="button button4" onclick="location.href='/registerauction/<%= username %>'"  style="vertical-align:middle"><span>Register</span></button>
                    <button id="bid" class="button button4" style="vertical-align:middle"><span>Bid</span></button>
                    <form action="/biddigipet/<%= username %>" method="post">
                        <div id='bid_info' class="form-group" >
                            <h5><label>Enter EGLD</label></h5>
                            <input type="number" class="form-control" name="egld" required="required">
                            <button type="submit" class="button button4" style="display: inline;vertical-align:middle"><span>Confirm</span></button>
                        </div>
                    </form>
                </p>
                <script>
                    const targetDiv = document.getElementById("bid_info");
                    targetDiv.style.display = "none";
                    const btn = document.getElementById("bid");
                    btn.onclick = function () {
                    if (targetDiv.style.display !== "none") {
                        targetDiv.style.display = "none";
                    } else {
                        targetDiv.style.display = "block";
                    }
                    };
                </script>
            </div>
        </div>
    </div>
</body>
</html>
